name: buildingsbeingbuilt

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Converts Markdown to HTML
        uses: jaywcjlove/markdown-to-html-cli@main
        with:
          source: index.md
          output: site/index.html
          
      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload GitHub pages
        uses: actions/upload-pages-artifact@v2
        with:
            path: 'tempo'
